<link rel="stylesheet" href="/css/sign_up.css">
<div id="container">
    <form action="/login/create_profile" method="post">
    
        <label for="name"> Name</label>
       
        <input type="text" name="name" placeholder="Enter the name">
        <br>
        <label for="name"> Email</label>
       
        <input type="email" name="email" placeholder="Enter the email">
        <br>
        <label for="Password"> Password</label>
        
        <input type="password" name="password" placeholder="Enter the password">
        <br>
        <label for="confirm_password"> confirm Password</label>
       
        <input type="password" name="confirm_password" placeholder="Enter the password">
        <br>

        <input type="submit" value="Sign Up">

    
    </form>

</div>
